<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="font-size: 2.5em">
        <div
          style="display: flex; align-items: center; gap: 16px; color: #433465"
        >
          In Time
          <ion-icon name="timer-outline" style="font-size: 40px"></ion-icon>
        </div>
        <p style="font-weight: 600; color: #aaaaaa; padding-top: 10px">
          {{ today | date:'fullDate' }}
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          gap: 16px;
        "
      >
        <span style="color: #433465; font-weight: 800">06:00:00</span>
        <span>/</span>
        <div style="color: green; font-weight: 800">
          <span>{{ hour }}</span>:<span>{{min}}</span>:<span>{{sec}}</span>
        </div>
      </div>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-searchbar
  style="padding-bottom: 0!important;"
    placeholder="Search a task"
    [(ngModel)]="searchTerm"
    showCancelButton="focus"
    animated
  >
  </ion-searchbar>
  <ion-card
    *ngFor="let item of list | filter:searchTerm;  let i = index"
    class="ion-margin"

  >
    <ion-card-header>
      <ion-card-subtitle
        [style.color]="item.itemPriority === 'High' ? 'red' : (item.itemPriority === 'Low' ? 'green' : 'orange')"
      >
        {{ item.itemCategory }}
      </ion-card-subtitle>

      <ion-item>
        <ion-icon
          *ngIf="item.itemPriority === 'High'"
          color="danger"
          size="small"
          name="ellipse"
        ></ion-icon>
        <ion-icon
          *ngIf="item.itemPriority === 'Middle'"
          color="warning"
          size="small"
          name="ellipse"
        ></ion-icon>
        <ion-icon
          *ngIf="item.itemPriority === 'Low'"
          color="success"
          size="small"
          name="ellipse"
        ></ion-icon>
        <ion-label> {{ item.itemName }} </ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content> {{ item.itemDate }} </ion-card-content>

    <ion-card-content>
      Progress
      <span style="font-weight: 800" class="number"
        >{{ item.h }}:{{ item.m }}:{{ item.s }}:{{ item.ms }}</span
      ></ion-card-content
    >

    <ion-row>
      <ion-item button (click)="start(item)" *ngIf="!item.itemExecuting && !item.itemComplete">
        <ion-icon name="play-outline"></ion-icon>
        <p>Start</p>
      </ion-item>
      <ion-item button (click)="stop(item)" *ngIf="item.itemExecuting && !item.itemComplete">
        <ion-icon name="pause-outline"></ion-icon>
        <p>Stop</p>
      </ion-item>

      <ion-item *ngIf="item.itemComplete">
        <ion-icon style="color: green;" name="checkMark-outline"></ion-icon>
        <p style="color: green;">Complete</p>
      </ion-item>
      <ion-item button (click)="complete(item)" *ngIf="!item.itemComplete">
        <ion-icon name="checkMark-outline"></ion-icon>
        <p>Complete</p>
      </ion-item>

      <ion-item button (click)="delete(i)" *ngIf="!item.itemComplete">
        <ion-icon name="trash-outline"></ion-icon>
        <p>Cancel</p>
      </ion-item>
    </ion-row>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="ion-margin">
    <ion-text *ngIf="list.length <= 0">Oops! No tasks here...</ion-text>
  </div>
</ion-content>
